In [ ]:

In [7]:
# Determine data types for student DataFrame
student_data_df.dtypes
Out[7]:
Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object
In [8]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate thru the words in the pre_suff list and replace them w/ an empty space, ''.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

print(student_data_df.head)
<bound method NDFrame.head of        Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School   
1               1     Victor Smith      M  12th   Huang High School   
2               2  Kevin Rodriguez      M  12th   Huang High School   
3               3    Richard Scott      M  12th   Huang High School   
4               4       Bonnie Ray      F   9th   Huang High School   
...           ...              ...    ...   ...                 ...   
39165       39165     Donna Howard      F  12th  Thomas High School   
39166       39166        Dawn Bell      F  10th  Thomas High School   
39167       39167   Rebecca Tanner      F   9th  Thomas High School   
39168       39168     Desiree Kidd      F  10th  Thomas High School   
39169       39169  Carolyn Jackson      F  11th  Thomas High School   

       reading_score  math_score  
0                 66          79  
1                 94          61  
2                 90          60  
3                 67          58  
4                 97          84  
...              ...         ...  
39165             99          90  
39166             95          70  
39167             73          84  
39168             99          90  
39169             95          75  

[39170 rows x 7 columns]>
In [9]:
#4.7.1 Combine data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=['school_name', 'school_name'])
school_data_complete_df.head()
Out[9]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
0	0	Paul Bradley	M	9th	Huang High School	66	79	0	District	2917	1910635
1	1	Victor Smith	M	12th	Huang High School	94	61	0	District	2917	1910635
2	2	Kevin Rodriguez	M	12th	Huang High School	90	60	0	District	2917	1910635
3	3	Richard Scott	M	12th	Huang High School	67	58	0	District	2917	1910635
4	4	Bonnie Ray	F	9th	Huang High School	97	84	0	District	2917	1910635
In [10]:
# Get total number of students.
student_count = school_data_complete_df['Student ID'].count()
student_count
Out[10]:
39170
In [11]:
# Calculate the total number of schools.
school_count = school_data_df['school_name'].count()
school_count
Out[11]:
15
In [12]:
# Calc total number of schools (Unique Count)
school_count_2 = school_data_df['school_name'].unique()
school_count_2
Out[12]:
array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)
In [13]:
len(school_data_complete_df['school_name'].unique())
Out[13]:
15
In [14]:
# Calculate the Total Budget. 4.7.4
total_budget = school_data_df['budget'].sum()
total_budget
Out[14]:
24649428
In [15]:
# Calculate the avg reading score. 4.7.5
avg_reading_score = school_data_complete_df['reading_score'].mean()
avg_reading_score
Out[15]:
81.87784018381414
In [16]:
# Calculate the avg math score. 4.7.5
avg_math_score = school_data_complete_df['math_score'].mean()
avg_math_score
Out[16]:
78.98537145774827
In [17]:
# Determine Passing Grade 4.7.6
passing_math = school_data_complete_df['math_score'] >= 70
passing_reading = school_data_complete_df['reading_score'] >= 70
In [18]:
# Get all students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]
passing_math.head()
Out[18]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
0	0	Paul Bradley	M	9th	Huang High School	66	79	0	District	2917	1910635
4	4	Bonnie Ray	F	9th	Huang High School	97	84	0	District	2917	1910635
5	5	Bryan Miranda	M	9th	Huang High School	94	94	0	District	2917	1910635
6	6	Sheena Carter	F	11th	Huang High School	82	80	0	District	2917	1910635
8	8	Michael Roth	M	10th	Huang High School	95	87	0	District	2917	1910635
In [19]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
In [20]:
# Getting # of students who passed math.
passing_math_count = passing_math['student_name'].count()

# Getting # of students who passed math.
passing_reading_count = passing_reading['student_name'].count()

print(passing_math_count)
print(passing_reading_count)
29370
33610
In [21]:
# Calculate the % that passed math.
passing_math_percentage = passing_math_count/ float(student_count) *100

# Calculate the % that passed reading.
passing_reading_percentage = passing_reading_count/ float(student_count) *100

print(passing_math_percentage)
print(passing_reading_percentage)
74.9808526933878
85.80546336482001
In [22]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()
Out[22]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
4	4	Bonnie Ray	F	9th	Huang High School	97	84	0	District	2917	1910635
5	5	Bryan Miranda	M	9th	Huang High School	94	94	0	District	2917	1910635
6	6	Sheena Carter	F	11th	Huang High School	82	80	0	District	2917	1910635
8	8	Michael Roth	M	10th	Huang High School	95	87	0	District	2917	1910635
9	9	Matthew Greene	M	10th	Huang High School	96	84	0	District	2917	1910635
In [23]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading['student_name'].count()
overall_passing_math_reading_count

# Calculate the overall passing %.
overall_passing_percentage = overall_passing_math_reading_count / student_count *100
overall_passing_percentage
Out[23]:
65.17232575950983
In [24]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": avg_math_score,
          "Average Reading Score": avg_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df
Out[24]:
Total Schools	Total Students	Total Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
0	15	39170	24649428	78.985371	81.87784	74.980853	85.805463	65.172326
In [25]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]
Out[25]:
0    39,170
Name: Total Students, dtype: object
In [26]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]
Out[26]:
0    $24,649,428.00
Name: Total Budget, dtype: object
In [27]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
In [28]:
district_summary_df
Out[28]:
Total Schools	Total Students	Total Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
0	15	39,170	$24,649,428.00	79.0	81.9	75	86	65
In [29]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df
Out[29]:
Total Schools	Total Students	Total Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
0	15	39,170	$24,649,428.00	79.0	81.9	75	86	65
In [30]:
# Determine the school type.
per_school_types = school_data_df.set_index(['school_name'])['type']
per_school_types
Out[30]:
school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object
In [31]:
# Add the per_school_types into a dataframe for testing.
df = pd.DataFrame(per_school_types)
df
Out[31]:
type
school_name	
Huang High School	District
Figueroa High School	District
Shelton High School	Charter
Hernandez High School	District
Griffin High School	Charter
Wilson High School	Charter
Cabrera High School	Charter
Bailey High School	District
Holden High School	Charter
Pena High School	Charter
Wright High School	Charter
Rodriguez High School	District
Johnson High School	District
Ford High School	District
Thomas High School	Charter
In [32]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(['school_name'])['size']
per_school_counts
Out[32]:
school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64
In [33]:
# Calculate the total student count.
per_school_counts = school_data_complete_df['school_name'].value_counts()
per_school_counts
Out[33]:
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64
In [34]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(['school_name'])['budget']
per_school_budget
Out[34]:
school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64
In [35]:
# Calc the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita
Out[35]:
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64
In [36]:
# Calc the math scores.
student_school_name = student_data_df.set_index(['school_name'])['math_score']
student_school_name
Out[36]:
school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64
In [37]:
#Calc avg math scores
per_school_avgs = school_data_complete_df.groupby(['school_name']).mean()
per_school_avgs
Out[37]:
Student ID	reading_score	math_score	School ID	size	budget
school_name						
Bailey High School	20358.5	81.033963	77.048432	7.0	4976.0	3124928.0
Cabrera High School	16941.5	83.975780	83.061895	6.0	1858.0	1081356.0
Figueroa High School	4391.0	81.158020	76.711767	1.0	2949.0	1884411.0
Ford High School	36165.0	80.746258	77.102592	13.0	2739.0	1763916.0
Griffin High School	12995.5	83.816757	83.351499	4.0	1468.0	917500.0
Hernandez High School	9944.0	80.934412	77.289752	3.0	4635.0	3022020.0
Holden High School	23060.0	83.814988	83.803279	8.0	427.0	248087.0
Huang High School	1458.0	81.182722	76.629414	0.0	2917.0	1910635.0
Johnson High School	32415.0	80.966394	77.072464	12.0	4761.0	3094650.0
Pena High School	23754.5	84.044699	83.839917	9.0	962.0	585858.0
Rodriguez High School	28035.0	80.744686	76.842711	11.0	3999.0	2547363.0
Shelton High School	6746.0	83.725724	83.359455	2.0	1761.0	1056600.0
Thomas High School	38352.0	83.848930	83.418349	14.0	1635.0	1043130.0
Wilson High School	14871.0	83.989488	83.274201	5.0	2283.0	1319574.0
Wright High School	25135.5	83.955000	83.682222	10.0	1800.0	1049400.0
In [38]:
#Calc avg scores
per_school_math = school_data_complete_df.groupby(['school_name']).mean()['math_score']
per_school_reading = school_data_complete_df.groupby(['school_name']).mean()['reading_score']
per_school_math
Out[38]:
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
In [39]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_math
Out[39]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
0	0	Paul Bradley	M	9th	Huang High School	66	79	0	District	2917	1910635
4	4	Bonnie Ray	F	9th	Huang High School	97	84	0	District	2917	1910635
5	5	Bryan Miranda	M	9th	Huang High School	94	94	0	District	2917	1910635
6	6	Sheena Carter	F	11th	Huang High School	82	80	0	District	2917	1910635
8	8	Michael Roth	M	10th	Huang High School	95	87	0	District	2917	1910635
...	...	...	...	...	...	...	...	...	...	...	...
39165	39165	Donna Howard	F	12th	Thomas High School	99	90	14	Charter	1635	1043130
39166	39166	Dawn Bell	F	10th	Thomas High School	95	70	14	Charter	1635	1043130
39167	39167	Rebecca Tanner	F	9th	Thomas High School	73	84	14	Charter	1635	1043130
39168	39168	Desiree Kidd	F	10th	Thomas High School	99	90	14	Charter	1635	1043130
39169	39169	Carolyn Jackson	F	11th	Thomas High School	95	75	14	Charter	1635	1043130
29370 rows × 11 columns

In [40]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = per_school_passing_math.groupby(['school_name']).count()['student_name']
per_school_passing_reading = per_school_passing_reading.groupby(['school_name']).count()['student_name']
per_school_passing_math
Out[40]:
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64
In [41]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts *100
per_school_passing_reading = per_school_passing_reading / per_school_counts *100
per_school_passing_math
Out[41]:
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
In [42]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score'] >=70) & (school_data_complete_df['reading_score']>=70)]

per_passing_math_reading.head()
Out[42]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
4	4	Bonnie Ray	F	9th	Huang High School	97	84	0	District	2917	1910635
5	5	Bryan Miranda	M	9th	Huang High School	94	94	0	District	2917	1910635
6	6	Sheena Carter	F	11th	Huang High School	82	80	0	District	2917	1910635
8	8	Michael Roth	M	10th	Huang High School	95	87	0	District	2917	1910635
9	9	Matthew Greene	M	10th	Huang High School	96	84	0	District	2917	1910635
In [43]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(['school_name']).count()['student_name']
In [44]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage
Out[44]:
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64
In [45]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             'School Type': per_school_types,
             'Total Students': per_school_counts,
             'Total School Budget': per_school_budget,
             'Per Student Budget': per_school_capita,
             'Average Math Score': per_school_math,
           'Average Reading Score': per_school_reading,
           '% Passing Math': per_school_passing_math,
           '% Passing Reading': per_school_passing_reading,
           '% Overall Passing': per_overall_passing_percentage})
per_school_summary_df.head()
Out[45]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Bailey High School	District	4976	3124928	628.0	77.048432	81.033963	66.680064	81.933280	54.642283
Cabrera High School	Charter	1858	1081356	582.0	83.061895	83.975780	94.133477	97.039828	91.334769
Figueroa High School	District	2949	1884411	639.0	76.711767	81.158020	65.988471	80.739234	53.204476
Ford High School	District	2739	1763916	644.0	77.102592	80.746258	68.309602	79.299014	54.289887
Griffin High School	Charter	1468	917500	625.0	83.351499	83.816757	93.392371	97.138965	90.599455
In [46]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map('${:,.2f}'.format)

per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map('${:,.2f}'.format)


# Display the data frame
per_school_summary_df.head()
Out[46]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Bailey High School	District	4976	$3,124,928.00	$628.00</td> <td>77.048432</td> <td>81.033963</td> <td>66.680064</td> <td>81.933280</td> <td>54.642283</td> </tr> <tr> <th>Cabrera High School</th> <td>Charter</td> <td>1858</td> <td>$1,081,356.00	$582.00</td> <td>83.061895</td> <td>83.975780</td> <td>94.133477</td> <td>97.039828</td> <td>91.334769</td> </tr> <tr> <th>Figueroa High School</th> <td>District</td> <td>2949</td> <td>$1,884,411.00	$639.00</td> <td>76.711767</td> <td>81.158020</td> <td>65.988471</td> <td>80.739234</td> <td>53.204476</td> </tr> <tr> <th>Ford High School</th> <td>District</td> <td>2739</td> <td>$1,763,916.00	$644.00</td> <td>77.102592</td> <td>80.746258</td> <td>68.309602</td> <td>79.299014</td> <td>54.289887</td> </tr> <tr> <th>Griffin High School</th> <td>Charter</td> <td>1468</td> <td>$917,500.00	$625.00	83.351499	83.816757	93.392371	97.138965	90.599455
In [47]:
# Reorder the columns in the order you want them to appear.
new_column_order = ['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']

# Assign district summary df the new column order.
per_school_summary_df = per_school_summary_df[new_column_order]

per_school_summary_df.head()
Out[47]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Bailey High School	District	4976	$3,124,928.00	$628.00</td> <td>77.048432</td> <td>81.033963</td> <td>66.680064</td> <td>81.933280</td> <td>54.642283</td> </tr> <tr> <th>Cabrera High School</th> <td>Charter</td> <td>1858</td> <td>$1,081,356.00	$582.00</td> <td>83.061895</td> <td>83.975780</td> <td>94.133477</td> <td>97.039828</td> <td>91.334769</td> </tr> <tr> <th>Figueroa High School</th> <td>District</td> <td>2949</td> <td>$1,884,411.00	$639.00</td> <td>76.711767</td> <td>81.158020</td> <td>65.988471</td> <td>80.739234</td> <td>53.204476</td> </tr> <tr> <th>Ford High School</th> <td>District</td> <td>2739</td> <td>$1,763,916.00	$644.00</td> <td>77.102592</td> <td>80.746258</td> <td>68.309602</td> <td>79.299014</td> <td>54.289887</td> </tr> <tr> <th>Griffin High School</th> <td>Charter</td> <td>1468</td> <td>$917,500.00	$625.00	83.351499	83.816757	93.392371	97.138965	90.599455
In [48]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending=False)
top_schools.head()
Out[48]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Cabrera High School	Charter	1858	$1,081,356.00	$582.00</td> <td>83.061895</td> <td>83.975780</td> <td>94.133477</td> <td>97.039828</td> <td>91.334769</td> </tr> <tr> <th>Thomas High School</th> <td>Charter</td> <td>1635</td> <td>$1,043,130.00	$638.00</td> <td>83.418349</td> <td>83.848930</td> <td>93.272171</td> <td>97.308869</td> <td>90.948012</td> </tr> <tr> <th>Griffin High School</th> <td>Charter</td> <td>1468</td> <td>$917,500.00	$625.00</td> <td>83.351499</td> <td>83.816757</td> <td>93.392371</td> <td>97.138965</td> <td>90.599455</td> </tr> <tr> <th>Wilson High School</th> <td>Charter</td> <td>2283</td> <td>$1,319,574.00	$578.00</td> <td>83.274201</td> <td>83.989488</td> <td>93.867718</td> <td>96.539641</td> <td>90.582567</td> </tr> <tr> <th>Pena High School</th> <td>Charter</td> <td>962</td> <td>$585,858.00	$609.00	83.839917	84.044699	94.594595	95.945946	90.540541
In [49]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending=True)

bottom_schools.head()
Out[49]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Rodriguez High School	District	3999	$2,547,363.00	$637.00</td> <td>76.842711</td> <td>80.744686</td> <td>66.366592</td> <td>80.220055</td> <td>52.988247</td> </tr> <tr> <th>Figueroa High School</th> <td>District</td> <td>2949</td> <td>$1,884,411.00	$639.00</td> <td>76.711767</td> <td>81.158020</td> <td>65.988471</td> <td>80.739234</td> <td>53.204476</td> </tr> <tr> <th>Huang High School</th> <td>District</td> <td>2917</td> <td>$1,910,635.00	$655.00</td> <td>76.629414</td> <td>81.182722</td> <td>65.683922</td> <td>81.316421</td> <td>53.513884</td> </tr> <tr> <th>Hernandez High School</th> <td>District</td> <td>4635</td> <td>$3,022,020.00	$652.00</td> <td>77.289752</td> <td>80.934412</td> <td>66.752967</td> <td>80.862999</td> <td>53.527508</td> </tr> <tr> <th>Johnson High School</th> <td>District</td> <td>4761</td> <td>$3,094,650.00	$650.00	77.072464	80.966394	66.057551	81.222432	53.539172
In [50]:
# 4.10.1 Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '9th')]
tenth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '10th')]
eleventh_graders = school_data_complete_df[(school_data_complete_df['grade'] == '11th')]
twelfth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '12th')]
ninth_graders
Out[50]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
0	0	Paul Bradley	M	9th	Huang High School	66	79	0	District	2917	1910635
4	4	Bonnie Ray	F	9th	Huang High School	97	84	0	District	2917	1910635
5	5	Bryan Miranda	M	9th	Huang High School	94	94	0	District	2917	1910635
12	12	Brittney Walker	F	9th	Huang High School	64	79	0	District	2917	1910635
13	13	William Long	M	9th	Huang High School	71	79	0	District	2917	1910635
...	...	...	...	...	...	...	...	...	...	...	...
39152	39152	Lori Moore	F	9th	Thomas High School	98	84	14	Charter	1635	1043130
39153	39153	William Hubbard	M	9th	Thomas High School	80	75	14	Charter	1635	1043130
39157	39157	Kristen Gonzalez	F	9th	Thomas High School	79	94	14	Charter	1635	1043130
39164	39164	Joseph Anthony	M	9th	Thomas High School	97	76	14	Charter	1635	1043130
39167	39167	Rebecca Tanner	F	9th	Thomas High School	73	84	14	Charter	1635	1043130
11408 rows × 11 columns

In [51]:
# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(['school_name']).mean()['math_score']

tenth_grade_math_scores = tenth_graders.groupby(['school_name']).mean()['math_score']

eleventh_grade_math_scores = eleventh_graders.groupby(['school_name']).mean()['math_score']

twelfth_grade_math_scores = twelfth_graders.groupby(['school_name']).mean()['math_score']

eleventh_grade_math_scores
Out[51]:
school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64
In [52]:
# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(['school_name']).mean()['reading_score']

tenth_grade_reading_scores = tenth_graders.groupby(['school_name']).mean()['reading_score']

eleventh_grade_reading_scores = eleventh_graders.groupby(['school_name']).mean()['reading_score']

twelfth_grade_reading_scores = twelfth_graders.groupby(['school_name']).mean()['reading_score']
twelfth_grade_reading_scores
Out[52]:
school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64
In [53]:
# Combine each Series for average math scores by school into single DataFrame.
math_scores_by_grade = pd.DataFrame({
               '9th': ninth_grade_math_scores,
               '10th': tenth_grade_math_scores,
               '11th': eleventh_grade_math_scores,
               '12th': twelfth_grade_math_scores})

math_scores_by_grade.head()
Out[53]:
9th	10th	11th	12th
school_name				
Bailey High School	77.083676	76.996772	77.515588	76.492218
Cabrera High School	83.094697	83.154506	82.765560	83.277487
Figueroa High School	76.403037	76.539974	76.884344	77.151369
Ford High School	77.361345	77.672316	76.918058	76.179963
Griffin High School	82.044010	84.229064	83.842105	83.356164
In [54]:
# Combine each Series for average reading scores by school into single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              '9th': ninth_grade_reading_scores,
              '10th': tenth_grade_reading_scores,
              '11th': eleventh_grade_reading_scores,
              '12th': twelfth_grade_reading_scores})

reading_scores_by_grade.head()
Out[54]:
9th	10th	11th	12th
school_name				
Bailey High School	81.303155	80.907183	80.945643	80.912451
Cabrera High School	83.676136	84.253219	83.788382	84.287958
Figueroa High School	81.198598	81.408912	80.640339	81.384863
Ford High School	80.632653	81.262712	80.403642	80.662338
Griffin High School	83.369193	83.706897	84.288089	84.013699
In [55]:
# Format each grade column.
math_scores_by_grade['9th'] = math_scores_by_grade['9th'].map('{:,.1f}'.format)

math_scores_by_grade['10th'] = math_scores_by_grade['10th'].map('{:,.1f}'.format)

math_scores_by_grade['11th'] = math_scores_by_grade['11th'].map('{:,.1f}'.format)

math_scores_by_grade['12th'] = math_scores_by_grade['12th'].map('{:,.1f}'.format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Remove the index name.
math_scores_by_grade.index.name = None
# Display the DataFrame.
math_scores_by_grade.head()
Out[55]:
9th	10th	11th	12th
Bailey High School	77.1	77.0	77.5	76.5
Cabrera High School	83.1	83.2	82.8	83.3
Figueroa High School	76.4	76.5	76.9	77.2
Ford High School	77.4	77.7	76.9	76.2
Griffin High School	82.0	84.2	83.8	83.4
In [56]:
# Format each grade column.
reading_scores_by_grade['9th'] = reading_scores_by_grade['9th'].map('{:,.1f}'.format)

reading_scores_by_grade['10th'] = reading_scores_by_grade['10th'].map('{:,.1f}'.format)

reading_scores_by_grade['11th'] = reading_scores_by_grade['11th'].map('{:,.1f}'.format)

reading_scores_by_grade['12th'] = reading_scores_by_grade['12th'].map('{:,.1f}'.format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.head()
Out[56]:
9th	10th	11th	12th
Bailey High School	81.3	80.9	80.9	80.9
Cabrera High School	83.7	84.3	83.8	84.3
Figueroa High School	81.2	81.4	80.6	81.4
Ford High School	80.6	81.3	80.4	80.7
Griffin High School	83.4	83.7	84.3	84.0
In [57]:
# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()
Out[57]:
count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64
In [58]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)
Out[58]:
Bailey High School       (615, 645]
Cabrera High School        (0, 585]
Figueroa High School     (615, 645]
Ford High School         (615, 645]
Griffin High School      (615, 645]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 615]
Rodriguez High School    (615, 645]
Shelton High School      (585, 615]
Thomas High School       (615, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 615] < (615, 645] < (645, 675]]
In [59]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()
Out[59]:
(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64
In [60]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ['<$584', '$585-629', '$630-644', '$645-675']
In [61]:
# Categorize spending based on the bins.
per_school_summary_df['Spending Ranges (Per Student)'] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df
Out[61]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing	Spending Ranges (Per Student)
Bailey High School	District	4976	$3,124,928.00	$628.00</td> <td>77.048432</td> <td>81.033963</td> <td>66.680064</td> <td>81.933280</td> <td>54.642283</td> <td>$585-629
Cabrera High School	Charter	1858	$1,081,356.00</td> <td>$582.00	83.061895	83.975780	94.133477	97.039828	91.334769	<$584</td> </tr> <tr> <th>Figueroa High School</th> <td>District</td> <td>2949</td> <td>$1,884,411.00	$639.00</td> <td>76.711767</td> <td>81.158020</td> <td>65.988471</td> <td>80.739234</td> <td>53.204476</td> <td>$630-644
Ford High School	District	2739	$1,763,916.00</td> <td>$644.00	77.102592	80.746258	68.309602	79.299014	54.289887	$630-644</td> </tr> <tr> <th>Griffin High School</th> <td>Charter</td> <td>1468</td> <td>$917,500.00	$625.00</td> <td>83.351499</td> <td>83.816757</td> <td>93.392371</td> <td>97.138965</td> <td>90.599455</td> <td>$585-629
Hernandez High School	District	4635	$3,022,020.00</td> <td>$652.00	77.289752	80.934412	66.752967	80.862999	53.527508	$645-675</td> </tr> <tr> <th>Holden High School</th> <td>Charter</td> <td>427</td> <td>$248,087.00	$581.00	83.803279	83.814988	92.505855	96.252927	89.227166	<$584
Huang High School	District	2917	$1,910,635.00</td> <td>$655.00	76.629414	81.182722	65.683922	81.316421	53.513884	$645-675</td> </tr> <tr> <th>Johnson High School</th> <td>District</td> <td>4761</td> <td>$3,094,650.00	$650.00</td> <td>77.072464</td> <td>80.966394</td> <td>66.057551</td> <td>81.222432</td> <td>53.539172</td> <td>$645-675
Pena High School	Charter	962	$585,858.00</td> <td>$609.00	83.839917	84.044699	94.594595	95.945946	90.540541	$585-629</td> </tr> <tr> <th>Rodriguez High School</th> <td>District</td> <td>3999</td> <td>$2,547,363.00	$637.00</td> <td>76.842711</td> <td>80.744686</td> <td>66.366592</td> <td>80.220055</td> <td>52.988247</td> <td>$630-644
Shelton High School	Charter	1761	$1,056,600.00</td> <td>$600.00	83.359455	83.725724	93.867121	95.854628	89.892107	$585-629</td> </tr> <tr> <th>Thomas High School</th> <td>Charter</td> <td>1635</td> <td>$1,043,130.00	$638.00</td> <td>83.418349</td> <td>83.848930</td> <td>93.272171</td> <td>97.308869</td> <td>90.948012</td> <td>$630-644
Wilson High School	Charter	2283	$1,319,574.00</td> <td>$578.00	83.274201	83.989488	93.867718	96.539641	90.582567	<$584</td> </tr> <tr> <th>Wright High School</th> <td>Charter</td> <td>1800</td> <td>$1,049,400.00	$583.00	83.682222	83.955000	93.333333	96.611111	90.333333	<$584
In [62]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Math Score']

spending_reading_scores = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Reading Score']

spending_passing_math = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Math']

spending_passing_reading = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Reading']

overall_passing_spending = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Overall Passing']

overall_passing_spending
Out[62]:
Spending Ranges (Per Student)
<$584       90.369459
$585-629    81.418596
$630-644    62.857656
$645-675    53.526855
Name: % Overall Passing, dtype: float64
In [63]:
# Assemble into DataFrame. 
spending_summary_df = pd.DataFrame({
          'Average Math Score' : spending_math_scores,
          'Average Reading Score': spending_reading_scores,
          '% Passing Math': spending_passing_math,
          '% Passing Reading': spending_passing_reading,
          '% Overall Passing': overall_passing_spending})

spending_summary_df
Out[63]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Spending Ranges (Per Student)					
<$584</th> <td>83.455399</td> <td>83.933814</td> <td>93.460096</td> <td>96.610877</td> <td>90.369459</td> </tr> <tr> <th>$585-629	81.899826	83.155286	87.133538	92.718205	81.418596
$630-644</th> <td>78.518855</td> <td>81.624473</td> <td>73.484209</td> <td>84.391793</td> <td>62.857656</td> </tr> <tr> <th>$645-675	76.997210	81.027843	66.164813	81.133951	53.526855
In [64]:
# Formatting
spending_summary_df['Average Math Score'] = spending_summary_df['Average Math Score'].map('{:.1f}'.format)

spending_summary_df['Average Reading Score'] = spending_summary_df['Average Reading Score'].map('{:.1f}'.format)

spending_summary_df['% Passing Math'] = spending_summary_df['% Passing Math'].map('{:.0f}'.format)

spending_summary_df['% Passing Reading'] = spending_summary_df['% Passing Reading'].map('{:.0f}'.format)

spending_summary_df['% Overall Passing'] = spending_summary_df['% Overall Passing'].map('{:.0f}'.format)

spending_summary_df
Out[64]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Spending Ranges (Per Student)					
<$584</th> <td>83.5</td> <td>83.9</td> <td>93</td> <td>97</td> <td>90</td> </tr> <tr> <th>$585-629	81.9	83.2	87	93	81
$630-644</th> <td>78.5</td> <td>81.6</td> <td>73</td> <td>84</td> <td>63</td> </tr> <tr> <th>$645-675	77.0	81.0	66	81	54
In [65]:
# Establish school size bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']
In [66]:
# Categorize spending based on the bins.
per_school_summary_df['School Size'] = pd.cut(per_school_summary_df['Total Students'], size_bins, labels=group_names)
per_school_summary_df.head()
Out[66]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing	Spending Ranges (Per Student)	School Size
Bailey High School	District	4976	$3,124,928.00</td> <td>$628.00	77.048432	81.033963	66.680064	81.933280	54.642283	$585-629</td> <td>Large (2000-5000)</td> </tr> <tr> <th>Cabrera High School</th> <td>Charter</td> <td>1858</td> <td>$1,081,356.00	$582.00	83.061895	83.975780	94.133477	97.039828	91.334769	<$584	Medium (1000-2000)
Figueroa High School	District	2949	$1,884,411.00</td> <td>$639.00	76.711767	81.158020	65.988471	80.739234	53.204476	$630-644</td> <td>Large (2000-5000)</td> </tr> <tr> <th>Ford High School</th> <td>District</td> <td>2739</td> <td>$1,763,916.00	$644.00</td> <td>77.102592</td> <td>80.746258</td> <td>68.309602</td> <td>79.299014</td> <td>54.289887</td> <td>$630-644	Large (2000-5000)
Griffin High School	Charter	1468	$917,500.00</td> <td>$625.00	83.351499	83.816757	93.392371	97.138965	90.599455	$585-629	Medium (1000-2000)
In [67]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(['School Size']).mean()['Average Math Score']

size_reading_scores = per_school_summary_df.groupby(['School Size']).mean()['Average Reading Score']

size_passing_math = per_school_summary_df.groupby(['School Size']).mean()['% Passing Math']

size_passing_reading = per_school_summary_df.groupby(['School Size']).mean()['% Passing Reading']

size_overall_passing = per_school_summary_df.groupby(['School Size']).mean()['% Overall Passing']
In [68]:
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
    'Average Math Score' : size_math_scores,
    'Average Reading Score' : size_reading_scores,
    '% Passing Math' : size_passing_math,
    '% Passing Reading' : size_passing_reading,
    '% Overall Passing' : size_overall_passing})

size_summary_df
Out[68]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
School Size					
Small (<1000)	83.821598	83.929843	93.550225	96.099437	89.883853
Medium (1000-2000)	83.374684	83.864438	93.599695	96.790680	90.621535
Large (2000-5000)	77.746417	81.344493	69.963361	82.766634	58.286003
In [69]:
# Formatting.
size_summary_df['Average Math Score'] = size_summary_df['Average Math Score'].map('{:.1f}'.format)

size_summary_df['Average Reading Score'] = size_summary_df['Average Reading Score'].map('{:.1f}'.format)

size_summary_df['% Passing Math'] = size_summary_df['% Passing Math'].map('{:.0f}'.format)

size_summary_df['% Passing Reading'] = size_summary_df['% Passing Reading'].map('{:.0f}'.format)

size_summary_df['% Overall Passing'] = size_summary_df['% Overall Passing'].map('{:.0f}'.format)

size_summary_df
Out[69]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
School Size					
Small (<1000)	83.8	83.9	94	96	90
Medium (1000-2000)	83.4	83.9	94	97	91
Large (2000-5000)	77.7	81.3	70	83	58
In [70]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(['School Type']).mean()['Average Math Score']

type_reading_scores = per_school_summary_df.groupby(['School Type']).mean()['Average Reading Score']

type_passing_math = per_school_summary_df.groupby(['School Type']).mean()['% Passing Math']

type_passing_reading = per_school_summary_df.groupby(['School Type']).mean()['% Passing Reading']

type_overall_passing = per_school_summary_df.groupby(['School Type']).mean()['% Overall Passing']
In [71]:
type_summary_df = pd.DataFrame({
    'Average Math Score': type_math_scores,
    'Average Reading Score': type_reading_scores,
    '% Passing Math': type_passing_math,
    '% Passing Reading': type_passing_reading,
    '% Overall Passing': type_overall_passing})

type_summary_df
Out[71]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
School Type					
Charter	83.473852	83.896421	93.620830	96.586489	90.432244
District	76.956733	80.966636	66.548453	80.799062	53.672208
In [72]:
# Formatting.
type_summary_df['Average Math Score'] = type_summary_df['Average Math Score'].map('{:.1f}'.format)

type_summary_df['Average Reading Score'] = type_summary_df['Average Reading Score'].map('{:.1f}'.format)

type_summary_df['% Passing Math'] = type_summary_df['% Passing Math'].map('{:.0f}'.format)

type_summary_df['% Passing Reading'] = type_summary_df['% Passing Reading'].map('{:.0f}'.format)

type_summary_df['% Overall Passing'] = type_summary_df['% Overall Passing'].map('{:.0f}'.format)

type_summary_df
Out[72]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
School Type					
Charter	83.5	83.9	94	97	90
District	77.0	81.0	67	81	54
In [73]:
#Start of Module 4 Challenge
import numpy as np
In [74]:
student_data_df
Out[74]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score
0	0	Paul Bradley	M	9th	Huang High School	66	79
1	1	Victor Smith	M	12th	Huang High School	94	61
2	2	Kevin Rodriguez	M	12th	Huang High School	90	60
3	3	Richard Scott	M	12th	Huang High School	67	58
4	4	Bonnie Ray	F	9th	Huang High School	97	84
...	...	...	...	...	...	...	...
39165	39165	Donna Howard	F	12th	Thomas High School	99	90
39166	39166	Dawn Bell	F	10th	Thomas High School	95	70
39167	39167	Rebecca Tanner	F	9th	Thomas High School	73	84
39168	39168	Desiree Kidd	F	10th	Thomas High School	99	90
39169	39169	Carolyn Jackson	F	11th	Thomas High School	95	75
39170 rows × 7 columns

In [75]:
#Selecting Thomas HS 9th Graders and clearing scores with np.nan
student_data_df.loc[(student_data_df['school_name'] == 'Thomas High School') & (student_data_df['grade'] == '9th'), 'reading_score']= np.nan
student_data_df.loc[(student_data_df['school_name'] == 'Thomas High School') & (student_data_df['grade'] == '9th'), 'math_score']= np.nan
student_data_df.tail()
Out[75]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score
39165	39165	Donna Howard	F	12th	Thomas High School	99.0	90.0
39166	39166	Dawn Bell	F	10th	Thomas High School	95.0	70.0
39167	39167	Rebecca Tanner	F	9th	Thomas High School	NaN	NaN
39168	39168	Desiree Kidd	F	10th	Thomas High School	99.0	90.0
39169	39169	Carolyn Jackson	F	11th	Thomas High School	95.0	75.0
In [76]:
#merging challenge student_data with school_data
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=['school_name', 'school_name'])
school_data_complete_df.head()
Out[76]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
0	0	Paul Bradley	M	9th	Huang High School	66.0	79.0	0	District	2917	1910635
1	1	Victor Smith	M	12th	Huang High School	94.0	61.0	0	District	2917	1910635
2	2	Kevin Rodriguez	M	12th	Huang High School	90.0	60.0	0	District	2917	1910635
3	3	Richard Scott	M	12th	Huang High School	67.0	58.0	0	District	2917	1910635
4	4	Bonnie Ray	F	9th	Huang High School	97.0	84.0	0	District	2917	1910635
In [77]:
# Calculate the avg math score.
avg_math_score = school_data_complete_df['math_score'].mean()

# Calculate the avg reading score.
avg_reading_score = school_data_complete_df['reading_score'].mean()
In [78]:
# Get all students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]


passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
In [79]:
# Getting # of students who passed math.
passing_math_count = passing_math['student_name'].count()

# Getting # of students who passed reading.
passing_reading_count = passing_reading['student_name'].count()

print(passing_math_count)
print(passing_reading_count)
28939
33158
In [80]:
# Calculate the % that passed math.
passing_math_percentage = passing_math_count/ float(student_count) *100

# Calculate the % that passed reading.
passing_reading_percentage = passing_reading_count/ float(student_count) *100
In [81]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()
Out[81]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
4	4	Bonnie Ray	F	9th	Huang High School	97.0	84.0	0	District	2917	1910635
5	5	Bryan Miranda	M	9th	Huang High School	94.0	94.0	0	District	2917	1910635
6	6	Sheena Carter	F	11th	Huang High School	82.0	80.0	0	District	2917	1910635
8	8	Michael Roth	M	10th	Huang High School	95.0	87.0	0	District	2917	1910635
9	9	Matthew Greene	M	10th	Huang High School	96.0	84.0	0	District	2917	1910635
In [82]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading['student_name'].count()

# Calculate the overall passing %.
overall_passing_percentage = overall_passing_math_reading_count / student_count *100
In [83]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": avg_math_score,
          "Average Reading Score": avg_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
In [84]:
# Format the columns.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
In [85]:
district_summary_df
Out[85]:
Total Schools	Total Students	Total Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
0	15	39,170	$24,649,428.00	78.9	81.9	74	85	64
In [86]:
#Calc avg scores
per_school_math = school_data_complete_df.groupby(['school_name']).mean()['math_score']
per_school_reading = school_data_complete_df.groupby(['school_name']).mean()['reading_score']
In [87]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
In [88]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = per_school_passing_math.groupby(['school_name']).count()['student_name']
per_school_passing_reading = per_school_passing_reading.groupby(['school_name']).count()['student_name']
In [89]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts *100
per_school_passing_reading = per_school_passing_reading / per_school_counts *100
In [90]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score'] >=70) & (school_data_complete_df['reading_score']>=70)]
In [91]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(['school_name']).count()['student_name']

# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
In [92]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             'School Type': per_school_types,
             'Total Students': per_school_counts,
             'Total School Budget': per_school_budget,
             'Per Student Budget': per_school_capita,
             'Average Math Score': per_school_math,
           'Average Reading Score': per_school_reading,
           '% Passing Math': per_school_passing_math,
           '% Passing Reading': per_school_passing_reading,
           '% Overall Passing': per_overall_passing_percentage})
per_school_summary_df.tail()
Out[92]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Rodriguez High School	District	3999	2547363	637.0	76.842711	80.744686	66.366592	80.220055	52.988247
Shelton High School	Charter	1761	1056600	600.0	83.359455	83.725724	93.867121	95.854628	89.892107
Thomas High School	Charter	1635	1043130	638.0	83.350937	83.896082	66.911315	69.663609	65.076453
Wilson High School	Charter	2283	1319574	578.0	83.274201	83.989488	93.867718	96.539641	90.582567
Wright High School	Charter	1800	1049400	583.0	83.682222	83.955000	93.333333	96.611111	90.333333
In [93]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map('${:,.2f}'.format)

per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map('${:,.2f}'.format)

per_school_summary_df.tail()
Out[93]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Rodriguez High School	District	3999	$2,547,363.00	$637.00</td> <td>76.842711</td> <td>80.744686</td> <td>66.366592</td> <td>80.220055</td> <td>52.988247</td> </tr> <tr> <th>Shelton High School</th> <td>Charter</td> <td>1761</td> <td>$1,056,600.00	$600.00</td> <td>83.359455</td> <td>83.725724</td> <td>93.867121</td> <td>95.854628</td> <td>89.892107</td> </tr> <tr> <th>Thomas High School</th> <td>Charter</td> <td>1635</td> <td>$1,043,130.00	$638.00</td> <td>83.350937</td> <td>83.896082</td> <td>66.911315</td> <td>69.663609</td> <td>65.076453</td> </tr> <tr> <th>Wilson High School</th> <td>Charter</td> <td>2283</td> <td>$1,319,574.00	$578.00</td> <td>83.274201</td> <td>83.989488</td> <td>93.867718</td> <td>96.539641</td> <td>90.582567</td> </tr> <tr> <th>Wright High School</th> <td>Charter</td> <td>1800</td> <td>$1,049,400.00	$583.00	83.682222	83.955000	93.333333	96.611111	90.333333
In [94]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending=False)
top_schools.head()
Out[94]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Cabrera High School	Charter	1858	$1,081,356.00	$582.00</td> <td>83.061895</td> <td>83.975780</td> <td>94.133477</td> <td>97.039828</td> <td>91.334769</td> </tr> <tr> <th>Griffin High School</th> <td>Charter</td> <td>1468</td> <td>$917,500.00	$625.00</td> <td>83.351499</td> <td>83.816757</td> <td>93.392371</td> <td>97.138965</td> <td>90.599455</td> </tr> <tr> <th>Wilson High School</th> <td>Charter</td> <td>2283</td> <td>$1,319,574.00	$578.00</td> <td>83.274201</td> <td>83.989488</td> <td>93.867718</td> <td>96.539641</td> <td>90.582567</td> </tr> <tr> <th>Pena High School</th> <td>Charter</td> <td>962</td> <td>$585,858.00	$609.00</td> <td>83.839917</td> <td>84.044699</td> <td>94.594595</td> <td>95.945946</td> <td>90.540541</td> </tr> <tr> <th>Wright High School</th> <td>Charter</td> <td>1800</td> <td>$1,049,400.00	$583.00	83.682222	83.955000	93.333333	96.611111	90.333333
In [95]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending=True)

bottom_schools
Out[95]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Rodriguez High School	District	3999	$2,547,363.00	$637.00</td> <td>76.842711</td> <td>80.744686</td> <td>66.366592</td> <td>80.220055</td> <td>52.988247</td> </tr> <tr> <th>Figueroa High School</th> <td>District</td> <td>2949</td> <td>$1,884,411.00	$639.00</td> <td>76.711767</td> <td>81.158020</td> <td>65.988471</td> <td>80.739234</td> <td>53.204476</td> </tr> <tr> <th>Huang High School</th> <td>District</td> <td>2917</td> <td>$1,910,635.00	$655.00</td> <td>76.629414</td> <td>81.182722</td> <td>65.683922</td> <td>81.316421</td> <td>53.513884</td> </tr> <tr> <th>Hernandez High School</th> <td>District</td> <td>4635</td> <td>$3,022,020.00	$652.00</td> <td>77.289752</td> <td>80.934412</td> <td>66.752967</td> <td>80.862999</td> <td>53.527508</td> </tr> <tr> <th>Johnson High School</th> <td>District</td> <td>4761</td> <td>$3,094,650.00	$650.00</td> <td>77.072464</td> <td>80.966394</td> <td>66.057551</td> <td>81.222432</td> <td>53.539172</td> </tr> <tr> <th>Ford High School</th> <td>District</td> <td>2739</td> <td>$1,763,916.00	$644.00</td> <td>77.102592</td> <td>80.746258</td> <td>68.309602</td> <td>79.299014</td> <td>54.289887</td> </tr> <tr> <th>Bailey High School</th> <td>District</td> <td>4976</td> <td>$3,124,928.00	$628.00</td> <td>77.048432</td> <td>81.033963</td> <td>66.680064</td> <td>81.933280</td> <td>54.642283</td> </tr> <tr> <th>Thomas High School</th> <td>Charter</td> <td>1635</td> <td>$1,043,130.00	$638.00</td> <td>83.350937</td> <td>83.896082</td> <td>66.911315</td> <td>69.663609</td> <td>65.076453</td> </tr> <tr> <th>Holden High School</th> <td>Charter</td> <td>427</td> <td>$248,087.00	$581.00</td> <td>83.803279</td> <td>83.814988</td> <td>92.505855</td> <td>96.252927</td> <td>89.227166</td> </tr> <tr> <th>Shelton High School</th> <td>Charter</td> <td>1761</td> <td>$1,056,600.00	$600.00</td> <td>83.359455</td> <td>83.725724</td> <td>93.867121</td> <td>95.854628</td> <td>89.892107</td> </tr> <tr> <th>Wright High School</th> <td>Charter</td> <td>1800</td> <td>$1,049,400.00	$583.00</td> <td>83.682222</td> <td>83.955000</td> <td>93.333333</td> <td>96.611111</td> <td>90.333333</td> </tr> <tr> <th>Pena High School</th> <td>Charter</td> <td>962</td> <td>$585,858.00	$609.00</td> <td>83.839917</td> <td>84.044699</td> <td>94.594595</td> <td>95.945946</td> <td>90.540541</td> </tr> <tr> <th>Wilson High School</th> <td>Charter</td> <td>2283</td> <td>$1,319,574.00	$578.00</td> <td>83.274201</td> <td>83.989488</td> <td>93.867718</td> <td>96.539641</td> <td>90.582567</td> </tr> <tr> <th>Griffin High School</th> <td>Charter</td> <td>1468</td> <td>$917,500.00	$625.00</td> <td>83.351499</td> <td>83.816757</td> <td>93.392371</td> <td>97.138965</td> <td>90.599455</td> </tr> <tr> <th>Cabrera High School</th> <td>Charter</td> <td>1858</td> <td>$1,081,356.00	$582.00	83.061895	83.975780	94.133477	97.039828	91.334769
In [96]:
# Comparing scores by grade --> Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '9th')]
tenth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '10th')]
eleventh_graders = school_data_complete_df[(school_data_complete_df['grade'] == '11th')]
twelfth_graders = school_data_complete_df[(school_data_complete_df['grade'] == '12th')]
In [97]:
# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(['school_name']).mean()['math_score']

tenth_grade_math_scores = tenth_graders.groupby(['school_name']).mean()['math_score']

eleventh_grade_math_scores = eleventh_graders.groupby(['school_name']).mean()['math_score']

twelfth_grade_math_scores = twelfth_graders.groupby(['school_name']).mean()['math_score']

ninth_grade_math_scores
Out[97]:
school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School             NaN
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64
In [98]:
# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(['school_name']).mean()['reading_score']

tenth_grade_reading_scores = tenth_graders.groupby(['school_name']).mean()['reading_score']

eleventh_grade_reading_scores = eleventh_graders.groupby(['school_name']).mean()['reading_score']

twelfth_grade_reading_scores = twelfth_graders.groupby(['school_name']).mean()['reading_score']

ninth_grade_reading_scores
Out[98]:
school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School             NaN
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64
In [99]:
# Math scores by grade
##Combine each Series for average math scores by school into single DataFrame.
math_scores_by_grade = pd.DataFrame({
               '9th': ninth_grade_math_scores,
               '10th': tenth_grade_math_scores,
               '11th': eleventh_grade_math_scores,
               '12th': twelfth_grade_math_scores})

math_scores_by_grade.head()
Out[99]:
9th	10th	11th	12th
school_name				
Bailey High School	77.083676	76.996772	77.515588	76.492218
Cabrera High School	83.094697	83.154506	82.765560	83.277487
Figueroa High School	76.403037	76.539974	76.884344	77.151369
Ford High School	77.361345	77.672316	76.918058	76.179963
Griffin High School	82.044010	84.229064	83.842105	83.356164
In [100]:
# Format each grade column.
math_scores_by_grade['9th'] = math_scores_by_grade['9th'].map('{:,.1f}'.format)

math_scores_by_grade['10th'] = math_scores_by_grade['10th'].map('{:,.1f}'.format)

math_scores_by_grade['11th'] = math_scores_by_grade['11th'].map('{:,.1f}'.format)

math_scores_by_grade['12th'] = math_scores_by_grade['12th'].map('{:,.1f}'.format)

# Remove the index name.
math_scores_by_grade.index.name = None
# Display the DataFrame.
math_scores_by_grade.tail()
Out[100]:
9th	10th	11th	12th
Rodriguez High School	76.9	76.6	76.4	77.7
Shelton High School	83.4	82.9	83.4	83.8
Thomas High School	nan	83.1	83.5	83.5
Wilson High School	83.1	83.7	83.2	83.0
Wright High School	83.3	84.0	83.8	83.6
In [101]:
# Reading scores by grade
## Combine each Series for average reading scores by school into single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              '9th': ninth_grade_reading_scores,
              '10th': tenth_grade_reading_scores,
              '11th': eleventh_grade_reading_scores,
              '12th': twelfth_grade_reading_scores})
In [102]:
# Format each grade column.
reading_scores_by_grade['9th'] = reading_scores_by_grade['9th'].map('{:,.1f}'.format)

reading_scores_by_grade['10th'] = reading_scores_by_grade['10th'].map('{:,.1f}'.format)

reading_scores_by_grade['11th'] = reading_scores_by_grade['11th'].map('{:,.1f}'.format)

reading_scores_by_grade['12th'] = reading_scores_by_grade['12th'].map('{:,.1f}'.format)

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.tail()
Out[102]:
9th	10th	11th	12th
Rodriguez High School	81.0	80.6	80.9	80.4
Shelton High School	84.1	83.4	84.4	82.8
Thomas High School	nan	84.3	83.6	83.8
Wilson High School	83.9	84.0	83.8	84.3
Wright High School	83.8	83.8	84.2	84.1
In [103]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()
Out[103]:
(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64
In [104]:
per_school_summary_df
Out[104]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Bailey High School	District	4976	$3,124,928.00	$628.00</td> <td>77.048432</td> <td>81.033963</td> <td>66.680064</td> <td>81.933280</td> <td>54.642283</td> </tr> <tr> <th>Cabrera High School</th> <td>Charter</td> <td>1858</td> <td>$1,081,356.00	$582.00</td> <td>83.061895</td> <td>83.975780</td> <td>94.133477</td> <td>97.039828</td> <td>91.334769</td> </tr> <tr> <th>Figueroa High School</th> <td>District</td> <td>2949</td> <td>$1,884,411.00	$639.00</td> <td>76.711767</td> <td>81.158020</td> <td>65.988471</td> <td>80.739234</td> <td>53.204476</td> </tr> <tr> <th>Ford High School</th> <td>District</td> <td>2739</td> <td>$1,763,916.00	$644.00</td> <td>77.102592</td> <td>80.746258</td> <td>68.309602</td> <td>79.299014</td> <td>54.289887</td> </tr> <tr> <th>Griffin High School</th> <td>Charter</td> <td>1468</td> <td>$917,500.00	$625.00</td> <td>83.351499</td> <td>83.816757</td> <td>93.392371</td> <td>97.138965</td> <td>90.599455</td> </tr> <tr> <th>Hernandez High School</th> <td>District</td> <td>4635</td> <td>$3,022,020.00	$652.00</td> <td>77.289752</td> <td>80.934412</td> <td>66.752967</td> <td>80.862999</td> <td>53.527508</td> </tr> <tr> <th>Holden High School</th> <td>Charter</td> <td>427</td> <td>$248,087.00	$581.00</td> <td>83.803279</td> <td>83.814988</td> <td>92.505855</td> <td>96.252927</td> <td>89.227166</td> </tr> <tr> <th>Huang High School</th> <td>District</td> <td>2917</td> <td>$1,910,635.00	$655.00</td> <td>76.629414</td> <td>81.182722</td> <td>65.683922</td> <td>81.316421</td> <td>53.513884</td> </tr> <tr> <th>Johnson High School</th> <td>District</td> <td>4761</td> <td>$3,094,650.00	$650.00</td> <td>77.072464</td> <td>80.966394</td> <td>66.057551</td> <td>81.222432</td> <td>53.539172</td> </tr> <tr> <th>Pena High School</th> <td>Charter</td> <td>962</td> <td>$585,858.00	$609.00</td> <td>83.839917</td> <td>84.044699</td> <td>94.594595</td> <td>95.945946</td> <td>90.540541</td> </tr> <tr> <th>Rodriguez High School</th> <td>District</td> <td>3999</td> <td>$2,547,363.00	$637.00</td> <td>76.842711</td> <td>80.744686</td> <td>66.366592</td> <td>80.220055</td> <td>52.988247</td> </tr> <tr> <th>Shelton High School</th> <td>Charter</td> <td>1761</td> <td>$1,056,600.00	$600.00</td> <td>83.359455</td> <td>83.725724</td> <td>93.867121</td> <td>95.854628</td> <td>89.892107</td> </tr> <tr> <th>Thomas High School</th> <td>Charter</td> <td>1635</td> <td>$1,043,130.00	$638.00</td> <td>83.350937</td> <td>83.896082</td> <td>66.911315</td> <td>69.663609</td> <td>65.076453</td> </tr> <tr> <th>Wilson High School</th> <td>Charter</td> <td>2283</td> <td>$1,319,574.00	$578.00</td> <td>83.274201</td> <td>83.989488</td> <td>93.867718</td> <td>96.539641</td> <td>90.582567</td> </tr> <tr> <th>Wright High School</th> <td>Charter</td> <td>1800</td> <td>$1,049,400.00	$583.00	83.682222	83.955000	93.333333	96.611111	90.333333
In [105]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ['<$584', '$585-629', '$630-644', '$645-675']
In [106]:
# Categorize spending based on the bins.
per_school_summary_df['Spending Ranges (Per Student)'] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df
Out[106]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing	Spending Ranges (Per Student)
Bailey High School	District	4976	$3,124,928.00	$628.00</td> <td>77.048432</td> <td>81.033963</td> <td>66.680064</td> <td>81.933280</td> <td>54.642283</td> <td>$585-629
Cabrera High School	Charter	1858	$1,081,356.00</td> <td>$582.00	83.061895	83.975780	94.133477	97.039828	91.334769	<$584</td> </tr> <tr> <th>Figueroa High School</th> <td>District</td> <td>2949</td> <td>$1,884,411.00	$639.00</td> <td>76.711767</td> <td>81.158020</td> <td>65.988471</td> <td>80.739234</td> <td>53.204476</td> <td>$630-644
Ford High School	District	2739	$1,763,916.00</td> <td>$644.00	77.102592	80.746258	68.309602	79.299014	54.289887	$630-644</td> </tr> <tr> <th>Griffin High School</th> <td>Charter</td> <td>1468</td> <td>$917,500.00	$625.00</td> <td>83.351499</td> <td>83.816757</td> <td>93.392371</td> <td>97.138965</td> <td>90.599455</td> <td>$585-629
Hernandez High School	District	4635	$3,022,020.00</td> <td>$652.00	77.289752	80.934412	66.752967	80.862999	53.527508	$645-675</td> </tr> <tr> <th>Holden High School</th> <td>Charter</td> <td>427</td> <td>$248,087.00	$581.00	83.803279	83.814988	92.505855	96.252927	89.227166	<$584
Huang High School	District	2917	$1,910,635.00</td> <td>$655.00	76.629414	81.182722	65.683922	81.316421	53.513884	$645-675</td> </tr> <tr> <th>Johnson High School</th> <td>District</td> <td>4761</td> <td>$3,094,650.00	$650.00</td> <td>77.072464</td> <td>80.966394</td> <td>66.057551</td> <td>81.222432</td> <td>53.539172</td> <td>$645-675
Pena High School	Charter	962	$585,858.00</td> <td>$609.00	83.839917	84.044699	94.594595	95.945946	90.540541	$585-629</td> </tr> <tr> <th>Rodriguez High School</th> <td>District</td> <td>3999</td> <td>$2,547,363.00	$637.00</td> <td>76.842711</td> <td>80.744686</td> <td>66.366592</td> <td>80.220055</td> <td>52.988247</td> <td>$630-644
Shelton High School	Charter	1761	$1,056,600.00</td> <td>$600.00	83.359455	83.725724	93.867121	95.854628	89.892107	$585-629</td> </tr> <tr> <th>Thomas High School</th> <td>Charter</td> <td>1635</td> <td>$1,043,130.00	$638.00</td> <td>83.350937</td> <td>83.896082</td> <td>66.911315</td> <td>69.663609</td> <td>65.076453</td> <td>$630-644
Wilson High School	Charter	2283	$1,319,574.00</td> <td>$578.00	83.274201	83.989488	93.867718	96.539641	90.582567	<$584</td> </tr> <tr> <th>Wright High School</th> <td>Charter</td> <td>1800</td> <td>$1,049,400.00	$583.00	83.682222	83.955000	93.333333	96.611111	90.333333	<$584
In [107]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Math Score']

spending_reading_scores = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Reading Score']

spending_passing_math = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Math']

spending_passing_reading = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Reading']

overall_passing_spending = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Overall Passing']

overall_passing_spending
Out[107]:
Spending Ranges (Per Student)
<$584       90.369459
$585-629    81.418596
$630-644    56.389766
$645-675    53.526855
Name: % Overall Passing, dtype: float64
In [108]:
# Assemble into DataFrame. 
spending_summary_df = pd.DataFrame({
          'Average Math Score' : spending_math_scores,
          'Average Reading Score': spending_reading_scores,
          '% Passing Math': spending_passing_math,
          '% Passing Reading': spending_passing_reading,
          '% Overall Passing': overall_passing_spending})

spending_summary_df
Out[108]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Spending Ranges (Per Student)					
<$584</th> <td>83.455399</td> <td>83.933814</td> <td>93.460096</td> <td>96.610877</td> <td>90.369459</td> </tr> <tr> <th>$585-629	81.899826	83.155286	87.133538	92.718205	81.418596
$630-644</th> <td>78.502002</td> <td>81.636261</td> <td>66.893995</td> <td>77.480478</td> <td>56.389766</td> </tr> <tr> <th>$645-675	76.997210	81.027843	66.164813	81.133951	53.526855
In [109]:
# Formatting
spending_summary_df['Average Math Score'] = spending_summary_df['Average Math Score'].map('{:.1f}'.format)

spending_summary_df['Average Reading Score'] = spending_summary_df['Average Reading Score'].map('{:.1f}'.format)

spending_summary_df['% Passing Math'] = spending_summary_df['% Passing Math'].map('{:.0f}'.format)

spending_summary_df['% Passing Reading'] = spending_summary_df['% Passing Reading'].map('{:.0f}'.format)

spending_summary_df['% Overall Passing'] = spending_summary_df['% Overall Passing'].map('{:.0f}'.format)

spending_summary_df
Out[109]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
Spending Ranges (Per Student)					
<$584</th> <td>83.5</td> <td>83.9</td> <td>93</td> <td>97</td> <td>90</td> </tr> <tr> <th>$585-629	81.9	83.2	87	93	81
$630-644</th> <td>78.5</td> <td>81.6</td> <td>67</td> <td>77</td> <td>56</td> </tr> <tr> <th>$645-675	77.0	81.0	66	81	54
In [110]:
# Establish school size bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']
# Categorize spending based on the bins.
per_school_summary_df['School Size'] = pd.cut(per_school_summary_df['Total Students'], size_bins, labels=group_names)
per_school_summary_df.tail()
Out[110]:
School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing	Spending Ranges (Per Student)	School Size
Rodriguez High School	District	3999	$2,547,363.00</td> <td>$637.00	76.842711	80.744686	66.366592	80.220055	52.988247	$630-644</td> <td>Large (2000-5000)</td> </tr> <tr> <th>Shelton High School</th> <td>Charter</td> <td>1761</td> <td>$1,056,600.00	$600.00</td> <td>83.359455</td> <td>83.725724</td> <td>93.867121</td> <td>95.854628</td> <td>89.892107</td> <td>$585-629	Medium (1000-2000)
Thomas High School	Charter	1635	$1,043,130.00</td> <td>$638.00	83.350937	83.896082	66.911315	69.663609	65.076453	$630-644</td> <td>Medium (1000-2000)</td> </tr> <tr> <th>Wilson High School</th> <td>Charter</td> <td>2283</td> <td>$1,319,574.00	$578.00	83.274201	83.989488	93.867718	96.539641	90.582567	<$584	Large (2000-5000)
Wright High School	Charter	1800	$1,049,400.00</td> <td>$583.00	83.682222	83.955000	93.333333	96.611111	90.333333	<$584	Medium (1000-2000)
In [111]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(['School Size']).mean()['Average Math Score']

size_reading_scores = per_school_summary_df.groupby(['School Size']).mean()['Average Reading Score']

size_passing_math = per_school_summary_df.groupby(['School Size']).mean()['% Passing Math']

size_passing_reading = per_school_summary_df.groupby(['School Size']).mean()['% Passing Reading']

size_overall_passing = per_school_summary_df.groupby(['School Size']).mean()['% Overall Passing']
In [112]:
# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
    'Average Math Score' : size_math_scores,
    'Average Reading Score' : size_reading_scores,
    '% Passing Math' : size_passing_math,
    '% Passing Reading' : size_passing_reading,
    '% Overall Passing' : size_overall_passing})
In [113]:
# Formatting.
size_summary_df['Average Math Score'] = size_summary_df['Average Math Score'].map('{:.1f}'.format)

size_summary_df['Average Reading Score'] = size_summary_df['Average Reading Score'].map('{:.1f}'.format)

size_summary_df['% Passing Math'] = size_summary_df['% Passing Math'].map('{:.0f}'.format)

size_summary_df['% Passing Reading'] = size_summary_df['% Passing Reading'].map('{:.0f}'.format)

size_summary_df['% Overall Passing'] = size_summary_df['% Overall Passing'].map('{:.0f}'.format)

size_summary_df
Out[113]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
School Size					
Small (<1000)	83.8	83.9	94	96	90
Medium (1000-2000)	83.4	83.9	88	91	85
Large (2000-5000)	77.7	81.3	70	83	58
In [114]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(['School Type']).mean()['Average Math Score']

type_reading_scores = per_school_summary_df.groupby(['School Type']).mean()['Average Reading Score']

type_passing_math = per_school_summary_df.groupby(['School Type']).mean()['% Passing Math']

type_passing_reading = per_school_summary_df.groupby(['School Type']).mean()['% Passing Reading']

type_overall_passing = per_school_summary_df.groupby(['School Type']).mean()['% Overall Passing']
In [115]:
type_summary_df = pd.DataFrame({
    'Average Math Score': type_math_scores,
    'Average Reading Score': type_reading_scores,
    '% Passing Math': type_passing_math,
    '% Passing Reading': type_passing_reading,
    '% Overall Passing': type_overall_passing})

type_summary_df
Out[115]:
Average Math Score	Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
School Type					
Charter	83.465425	83.902315	90.325723	93.130832	87.198299
District	76.956733	80.966636	66.548453	80.799062	53.672208
In [116]:
# Formatting.
type_summary_df['Average Math Score'] = type_summary_df['Average Math Score'].map('{:.1f}'.format)

type_summary_df['Average Reading Score'] = type_summary_df['Average Reading Score'].map('{:.1f}'.format)

type_summary_df['% Passing Math'] = type_summary_df['% Passing Math'].map('{:.0f}'.format)

type_summary_df['% Passing Reading'] = type_summary_df['% Passing Reading'].map('{:.0f}'.format)

type_summary_df['% Overall Passing'] = type_summary_df['% Overall Passing'].map('{:.0f}'.format)

type_summary_df